#wrapper, #scrollArea, html, body {
    height: 98%;
}
#scrollLeft-1-2 {
    float: left;
    width: 100%;
    padding: 1rem;
    padding-right: 2rem;
    overflow: visible;
}
#scrollRight-1-2 {
    float: left;
    width: 100%;
    padding: 1rem;
    overflow: visible;
}
#content, html, body {
    height: 98%;
}

@media (min-width: 45.75em) {
  #scrollLeft-1-2 {
    width: 65%;
    overflow: scroll;
    height: 100%
  }

  #scrollRight-1-2 {
    width: 35%;
    overflow: scroll;
    height: 100%
  }
}

/*#scrollLeft-1-2::after{
  content: "";
  display: block;
  clear: both; 
}*/